<%= render 'layouts/header'%>
<h2 class="text-center notionTexte"> Comprendre le numérique à travers 100 notions... </h2>
<div class="text-center">
  <input class="text-center" type="search" placeholder="Entrez un mot-clef" name="the_search" id="search">
</div>
<div class="col-xs-12 col-md-9 notions">
  <div class="row">

    <% @notions.limit(48).each do |notion| %>
    <%= content_tag :a, class: "blocnotions1", href: notion_path(notion), data: { name: notion.simple_name } do %>
          <%= image_tag notion.photo.url(:vignette), width: 200 %>
      <div class="content">
        <div class="gradient"></div>
          <span><%= notion.name %></span>
          <p>Découvrir la notion</p>
        </div>
    <% end %>
  <% end %>


    <% @notions.last(52).each do |notion| %>
      <%= content_tag :a, class: "blocnotions2", href: notion_path(notion), data: { name: notion.simple_name } do %>
          <%= image_tag notion.photo.url(:vignette), width: 200 %>
        <div class="content">
        <div class="gradient"></div>
          <span><%= notion.name %></span>
          <p>Découvrir la notion</p>
        </div>
        <% end %>
        <% end %>
      </div>
      <div id="leftarrow"><img src="../../assets/images/left_arrow.png" alt="leftarrow" /> </div>
      <div id="rightarrow"><img src="../../assets/images/right_arrow.png" alt="righttarrow" /> </div>
    </div>
