 <%= render 'layouts/header_timeline'%>




<p id="notice"><%= notice %></p>

<p class="text-center">
  Comprenez l'évolution du numérique
  <div id="fin_phrase" class="text-center">
    à travers le thème de <%= @notion.name %> grâce à ces articles :
  </div>
</p>

<div class="container col-md-8 col-md-offset-2 liste_articles">
    <div class="row">
      <ul>
    <% @notion.articles.each do |article| %>
        <li><%= link_to article.titre, article_path%></li>
        <% end %>
      </ul>
    </div>
</div>

<div>
  <%= render 'layouts/header_comments'%>
</div>

<div class="container col-md-8 col-md-offset-2 comments">
    <div>
      <ul>
    <% @comments.each do |comment| %>
        <li><%= comment.name%><%= comment.birthday%></li>
        <li><%= comment.content%></li>
        <br>
        <% end %>
      </ul>
    </div>
</div>

<div class="container col-md-8 col-md-offset-2 form_comments">
  <div class="row">
    <%= form_for :comment, url: create_comment_path(@notion) do |f| %>
    <%= f.label :name, 'Votre nom' %>
    <%= f.text_field :name %>
    <%= f.label :birthday, 'Naissance' %>
    <%= f.date_field :birthday %>
    <%= f.label :content, 'Votre histoire' %>
    <%= f.text_field :content %>
    <%= f.submit :submit %>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer'%>
