 <%= render 'layouts/header_timeline'%>


<p class="text-center comprendre">
  Comprenez l'évolution du numérique <br><br>
    à travers le thème de <%= @notion.name %> grâce à ces articles :
</p>


<div class="container col-md-8 col-md-offset-2 liste_articles">
    <div class="row text-center">
      <ul class="text-center">
    <% @notion.articles.each do |article| %>
        <li class="text-center"><%= link_to article.titre, article_path(article.id)%></li><hr>
        <% end %>
      </ul>
    </div>
</div>

<div>
  <%= render 'layouts/header_comments'%>
</div>

<div class="comments">
    <div>
      <ul>
    <% @comments.each do |comment| %>
        <li id="text_gras"><%= comment.name%> <%= comment.birthday%></li><br>
        <li><%=comment.content%></li>
        <br><br><hr>
    <% end %>
      </ul>
    </div>
</div>

<div class="form-style-8">
  <%= form_for @comment, url: create_comment_path(@notion) do |f| %>
      <%= f.text_field :name, placeholder: "Votre nom" %>
      <%= f.date_field :birthday %><br><br>
      <%= f.text_field :content, placeholder: "Votre histoire"%><br><br>
      <%= f.submit :submit %>
    <% end %>
</div>






<%= render 'layouts/footer'%>
