<%= form_for(@article) do |f| %>
    <%= f.label :titre %>
    <%= f.text_field :titre %>
    <%= f.label :date, 'Date sur timeline' %>
    <%= f.date_field :date %>
    <%= f.label :content, "Contenu de l'article" %>
    <%= f.text_area :content %>
    <%= f.label :photo, "ajoutez votre photo" %>
    <%= f.file_field :photo %>
    <%= f.label :audio, "ajoutez votre audio" %>
    <%= f.file_field :audio %>
    <%= f.label :video, "ajoutez votre video" %>
    <%= f.file_field :video %>
    <%= f.label :place, "ajoutez le lieu et la date de votre article (lieu - année)" %>
    <%= f.text_field :place %>
    <% notions_array = Notion.all.map { |notion| [notion.name, notion.id] } %>
    <%= f.select :notion_ids, options_for_select(notions_array), {}, {:multiple => true} %>
    <div class='button green'>
    <%= f.submit :submit %>
    </div>
<% end %>
