
<p id="notice"><%= notice %></p>

<section class="cd-horizontal-timeline">

	<div class="timeline">
		<div class="events-wrapper"  style="background-color: #F8F8F8">
			<div class="events">
				<ol>
          <% @articles.each_with_index do |article, n| %>
						<% className = n == 0 ? :selected : nil %>
						<li><%= link_to article.date.year, article, data: { date: article.date.strftime("%d/%m/%Y") }, class: className %></li>
          <% end %>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
      <% i=0 %>
      <% @articles.each do |article| %>
        <% if i == 0 %>
        <li class="selected" data-date="<%= article.date %>">
        <% else %>
        <li data-date="<%= article.date %>">
        <% end %>
  				<h2><%= article.titre %></h2>
					<%= image_tag "dentiste.jpg", class: "img_article" %>
  				<em><%= article.date %></em>
  				<p>
  					<%= article.content %>
  				</p>
  			</li>
        <% i= i+1 %>
      <% end %>


		</ol>
	</div> <!-- .events-content -->
</section>

<%= render 'layouts/footer'%>
