<%= render 'layouts/header_articles'%>

<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
				  <% @articles.each.with_index do |article, i| %>
						<% if article.date.year < @article.date.year
							className = "older-event"
						end
						if article.date.year == @article.date.year
							className = "selected"
						else
							className = ""
						end %>

						<li><%= link_to article.date.year, article, data: { date: '1/1/'+(i+1900).to_s}, class: className %></li>
					<% end %>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
      <% @articles.each.with_index do |article, i| %>
				<% if article.date.year < @article.date.year
					className = "older-event"
				end
				if article.date.year == @article.date.year
					className = "selected"
				else
					className = ""
				end %>

        <li class="<%= className %>" data-date="1/1/<%= i+1900 %>">

  				<h2 class="text-center titre_article"><%= article.titre %></h2>
					<div class="middle"><%= image_tag article.photo %></div>
  				<em><%= article.place %></em>
  				<p>
  					<%= article.content.gsub("\n", "<br>").html_safe %>
  				</p>
					<p>Notions liées à l'article : </p<
					<p>
						<% article.notions.each do |n| %>
							<%= link_to n.name, notion_path(n.id)%>,
								<% if admin_user_signed_in? %>
									<%= link_to "edit article", edit_article_path %>
									<% end %>
								t<% end %>
					</p>
  			</li>
      <% end %>
		</ol>
	</div> <!-- .events-content -->
</section>

<%= render 'layouts/footer'%>
